html,
body {
  height: 100%;
  margin: 0;
  font-family: "montserrat", sans-serif;
}
.main-page {
  width: 100%;
  background-image: url(Main.png);
  background-size: cover;
  padding-bottom: 118px;
  padding-top: 24px;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
.main-page-container {
  padding: 60px;
  width: 573px;
  border-radius: 60px;
  margin-top: 65px;
  background-color: #fff;
  box-sizing: border-box;
}
.main-page-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 0;
  color: #1b1d1f;
}
.main-page-city-name {
  color: #1b1d1f;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 32px;
}
.main-page-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.registration-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: #ff6b0a;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
}
.main-page-logo {
  width: 100px;
  height: 33px;
}
.gallery-page {
  padding-top: 40px;
  padding-bottom: 20;
  text-align: center;
}
.gallery-page-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-item {
  width: calc(33% - (24px * 2 / 3));
  margin-bottom: 80px;
}
.gallery-item-img {
  border-radius: 30px;
  width: 374px;
  height: 248px;
}
.gallery-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
